* {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: "Raleway", sans-serif;
}

::-webkit-scrollbar {
    width: 0;
    /* Remove scrollbar space */
    background: transparent;
    /* Optional: just make scrollbar invisible */
}

/****************************************** NAVBAR STYLE ********************************************/

.nav-wrapper {
    width: 100%;
    /* position: -webkit-sticky; */
    /* Safari */
    position: sticky;
    top: 0;
    background-color: #fff;
}

nav {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    /* height: 10%; */
    display: flex;
    justify-content: space-between;
    padding-left: 3%;
    background-color: #333;
    color: white;
    box-shadow: 1px 3px 4px #e6e6e6;
    align-items: center;
}

/****************************************** NAVBAR LOGO STYLE ********************************************/

.Logo {
    width: auto;
    padding: 5px;
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.Logo a {
    text-decoration: none;
}

.Logo-Img {
    height: 45px;
    width: 45px;
    margin-top: 5px;
}

.Logo-Text {
    color: lightgray;
    font-family: "Raleway", sans-serif;
    font-size: 45px;
    font-weight: 300;
    margin-right: 25px;
    flex: 1;
}

/****************************************** NAVBAR RIGHT NAVIGATION STYLE ********************************************/
.navigation {
    display: flex;
    right: 25px;
    float: right;
    align-items: center;
    padding-right: 20px;
}

.menu {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.menu li a {
    color: inherit;
    text-decoration: none;
    margin: 0 15px;
    display: flex;
    padding: 5px;
}

.menu li a:hover {
    background-color: black;
}

.menu li a i {
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.not-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

/***************************************** NAVBAR NOTIFICATION SECTION *********************************************/

.dropdown-menu {
    width: 250px !important;
}

a.dropdown-menu-header:hover {
    background-color: #e6e6e6 !important;
}

a.dropdown-menu-header {
    background: #f7f9fe;
    font-weight: bold;
    border-bottom: 1px solid #e3e3e3;
}
/* .dropdown-menu > li a {
    padding: 10px;
} */

.dropdown-menu li {
    padding: 10px;
    /* margin-left: 10px; */
}


/****************************************** NAVBAR SEARCH SECTION STYLE ********************************************/
.search {
    position: relative;
    display: flex;
}

.search-input::placeholder {
    color: white;
    opacity: 0.8;
    font-family: "Raleway", sans-serif;
    font-size: 15px;
}

.search-input {
    height: 0px;
    border: none;
    position: absolute;
    left: -200px;
    visibility: hidden;
    opacity: 0;
    top: 40px;
    background: #333;
    color: white;
    padding: 6px;
    font-size: 12px;
    outline: none;
    width: 220px;
    transition: 80ms all ease-in;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: none;
}

.search-button {
    background: transparent;
    color: white;
    cursor: pointer;
    font-size: 14px;
    padding-top: 4px;
    border: 0;
    margin: 0 15px;
}

.search-button i {
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.search-button:hover+.search-input,
.search-input:hover,
.search:hover .search-input {
    visibility: visible !important;
    /* The search bar comes into view when hovered over */
    opacity: 1 !important;
    z-index: 9 !important;
    box-shadow: 1px 3px 4px #e6e6e6;
    height: 25px !important;
}

/****************************************** NAVBAR SIGNOUT STYLE ********************************************/

.sign-out {
    display: flex;
}

.sign-out a {
    text-decoration: none;
}

.sign-out .menu-text {
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    color: white;
    margin: 0 15px;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px;
}

.sign-out .menu-text:hover {
    background-color: white;
    color: #333;
}

.sign-out-mobile {
    display: none;
}

/**************************************** RESPONSIVE DESIGN CODE ******************************************************/

@media only screen and (max-width: 720px) {
    h1 {
        font-size: 20px;
    }

    h2 {
        font-size: 20px;
    }

    p {
        font-size: 12px;
    }

    /* MOBILE NAVIGATION */
    .nav-wrapper {
        background-color: #333;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        width: 100%;
        background-color: #333;
        /* align-items: stretch; */
    }

    .navigation {
        background-color: #333;
        flex-direction: column;
    }

    nav {
        height: auto;
    }

    .Logo {
        align-items: baseline;
        justify-content: center;
    }

    .Logo-Text {
        font-size: 30px;
        padding-bottom: 0;
    }

    .Logo-Img {
        height: 30px;
        width: 30px;
    }

    .not-menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .search {
        background-color: #333;
    }

    .search-input {
        top: 34px;
        left: -60px;
    }

    .sign-out {
        display: none;
    }

    .sign-out-mobile {
        display: flex;
    }

    .sign-out-mobile a {
        color: white;
        text-decoration: none;
    }

    .sign-out-mobile a i {
        height: 30px;
        width: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
    }
}