body {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 0;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}

/* Style for background video */
#backgroundVideo {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

#backgroundImage {
  display: none;
}

/* Style for title of the page */
.Site-Title {
  text-align: center;
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 60px;
  font-weight: 500;
  /* text-decoration: double; */
  flex: 1;
  padding: 30px auto;
  padding-top: 50px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.Text {
  color: white;
  text-decoration: none;
}

/* The div of login form is centered */
.login-box {
  color: white;
  width: 340px;
  position: absolute;
  top: 20%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.login-box h1 {
  float: left;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: 200;
  border-bottom: 6px solid #e27802;
  margin-bottom: 30px;
  margin-top: 50px;
  margin-right: 10px;
  padding-bottom: 10px;
}

/* Style for textboxes of the form */
.textbox {
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid #e27802;
}

.textbox i {
  width: 26px;
  float: left;
  text-align: center;
}

.textbox input {
  border: none;
  outline: none;
  background: none;
  color: white;
  font-size: 18px;
  width: 250px;
  float: left;
  margin: 0 10px;
}

.btn {
  background: none;
  border: 2px solid #e27802;
  color: white;
  cursor: pointer;
  font-size: 18px;
  margin: 12px 0;
  padding: 10px;
  width: 100%;
}

.btn:hover {
  background-color: white;
  color: #e27802;
}

.forgot-password {
  text-align: left;
  padding: 10px 0;
  margin: 0;
}

/* Style for redirecting to signup page */
.Acc {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  padding-top: 10%;
  text-align: center;
  width: 100%;
}

.login-box a {
  background: none;
  color: #e27802;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  margin: 12px 0;
  padding: 10px;
}

/********************* Responsive Styling *************************************/

@media (max-width: 480px) {

  .login-box {
    width: 90%;
    /* background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)); */
  }

  #backgroundVideo {
    display: none;
  }

  #backgroundImage {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    display: inline;
  }

  .Site-Title {
    width: 90%;
    font-size: 35px;
  }

  .login-box h1 {
    font-size: 20px;
  }

  .textbox {
    width: 90%;
  }
}
