* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', Helvetica, sans-serif;
    font-size: 12px;
}

::-webkit-scrollbar {
    width: 0;
    /* Remove scrollbar space */
    background: transparent;
    /* Optional: just make scrollbar invisible */
}

body {
    height: 100vh;
    width: 100%;
}

/************************************** NAVBAR CUSTOM ************************************************/
.nav-wrapper {
    /* position: relative !important; */
    position: relative !important;
    display: block;
    /* overflow: hidden; */
    top: 0;
}

nav {
    position: relative !important;
    /* position: absolute !important; */
    /* top: 0; */
}

nav a {
    color: #fff !important;
}

.menu {
    margin-bottom: 0;
}

main {
    padding-top: 3%;
    display: flex !important;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-direction: row;
    flex-wrap: wrap;
}

.btn {
    background-color: #333;
    border: #333;
    color: #fff;
    margin: 0;
}

.btn :hover {
    /* color: #fff !important; */
    background-color: #ccc !important;
}

.container hr {
    background-color: #333;
    margin-bottom: 0px;
}

.media-body {
    margin-left: 10px;
}

/************************************** PROFILE CARD ***********************************************/
/*Profile Card 5*/
.profile-card-5 {
    display: flex !important;
    margin-top: 20px;
    width: 300px;
    margin: 15px 20px;
}

.profile-card-5 .btn {
    border-radius: 2px;
    text-transform: uppercase;
    font-size: 12px;
    padding: 7px 20px;
}

.btn :hover {
    background-color: #330;
    color: #eee !important;
}

.profile-card-5 .card-img-block {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    position: relative;
    top: -20px;

}

.profile-card-5 .card-img-block img {
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.63);
}

.profile-card-5 h5 {
    font-weight: 600;
}

.profile-card-5 p {
    font-size: 14px;
    font-weight: 300;
}

.profile-card-5 a {
    color: #eee !important;
}