body {
  margin: 0;
  padding: 0;
}

/******************************************* BODY CONTENT ***********************************/
.content {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)), url('../Images/Background/img3.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* transition: 5s; */
  animation-name: animate;
  animation-direction: alternate-reverse;
  animation-duration: 30s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-timing-function: ease-in;
  /* animation: animate 40s infinite; */
}

@keyframes animate {
  0% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../Images/Background/img3.jpg');
  }

  20% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../Images/Background/img4.jpg');
  }

  40% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../Images/Background/img1.jpg');
  }

  60% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../Images/Background/img2.jpg');
  }

  80% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../Images/Background/img4.jpg');
  }

  100% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../Images/Background/img5.jpg');
  }
}

.Site-Title {
  text-align: center;
  color: lightgray;
  font-family: "Raleway", sans-serif;
  font-size: 60px;
  font-weight: 500;
  flex: 1;
  padding: 30px auto;
  padding-top: 50px;
}

.Tagline {
  color: white;
  margin: 30px;
  padding: 10px;
  display: inline-block;
  width: 50%;
}

.Tagline h1 {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 40px;
  margin-bottom: 5px;
  display: inline-block;
}

.Tagline h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 10%;
  display: inline-block;
}

.button {
  color: white;
  background-color: #292c2f;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  padding: 10px 15px;
}

.button:hover {
  color: black;
  background-color: white;
}

.buttons-flex {
  display: flex;
  justify-content: space-between;
}

/******************************************* FOOTER STYLING ***********************************/
footer {
  position: relative;
  text-align: center;
}

.footer-distributed {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font: bold 16px;
}

.footer-distributed {
  display: inline-block;
  vertical-align: top;
}

.footer-distributed .footer-links {
  color: #ffffff;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  margin: 10px;
  padding: 5px;
}

.footer-links a:hover {
  background-color: black;
  text-decoration: underline;
}

.footer-distributed .footer-company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  /* margin: 0; */
}

.footer-distributed .footer-icons {
  margin-top: 15px;
  margin-bottom: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}

.footer-icons a:hover {
  background-color: black;
}

@media (max-width: 880px) {
  .footer-distributed {
    font: bold 14px sans-serif;
  }

  .main {
    line-height: normal;
    font-size: auto;
  }
}
