body {
  margin: 0;
  overflow-y: scroll;
  /* overflow: hidden; */
  padding: 0;
}

::-webkit-scrollbar {
  width: 0;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}

/*****************************************Header Styles *************************************************/

ul,
nav {
    list-style: none;
}

a{
    text-decoration: none;
    opacity: 0.75;
    color: #fff;
}

a:hover{
    opacity: 1;
}

.grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

hr {
    width: 250px;
    height: 3px;
    background-color: #3f51b5;
    border: 0;
    margin-bottom: 50px;
}

a.btn {
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    background-color: #3f51b5;
    opacity: 1;
}

header {
    width: 95%;
    color: #fff;
    display: flex;
    justify-content: space-between;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    align-items: center;
    animation: 1s fadein 0.5s forwards;
    opacity: 0;
    padding: 20px auto;
}

@keyframes fadein {
    100% {
        opacity: 1;
    }
}

header h2 {
  margin-left: 5%;
}

header nav {
    display: flex;
}

header nav li{
    padding: 0 15px;
}

@media (max-width: 800px) {

    #content {
      flex-direction: column;
    }
    header {
        /* padding: 20px 50px; */
        flex-direction: column;
    }
    header h2 {
        margin-bottom: 12px;
    }
}

/******************************************* BODY CONTENT ***********************************/
#content {
  height: 100vh;
  width: 100%;
}

/********************************************* MOBILE BACKGROUND IMAGE ANIMATION ************************************/
@media (max-width: 1025px) {
  #content {
    display: flex;
    flex-direction: column;
    animation-name: animate-mobile;
    animation-direction: alternate-reverse;
    animation-duration: 60s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: ease-in;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../Images/Mobile-Background/pexels-alex-azabache-3214958.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  /* Mobile display styles */
  .Site-Title {
    font-size: 40px !important;
    padding-top: 30px !important;
  }

  .Tagline {
    width: 100% !important;
  }

  .Tagline h1 {
    font-size: 20px !important
  }

  .Tagline h3 {
    font-size: 15px !important;
    margin-bottom: 8% !important;
  }

  .button {
    font-size: 16px !important;
    /* margin-right: 30px !important; */
  }

  .button-flex {
    display: flex;
    justify-content: space-between;
  }
}

/********************************************* CONTENT STYLING ************************************/
.Site-Title {
  text-align: center;
  color: lightgray;
  font-family: "Raleway", sans-serif;
  font-size: 60px;
  font-weight: 500;
  flex: 1;
  padding: 30px auto;
  padding-top: 50px;
}

.Tagline {
  color: white;
  margin: 30px;
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: auto;
  text-align: center;
}

.Tagline h1 {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 40px;
  margin-bottom: 5px;
  display: inline-block;
}

.Tagline h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 10%;
  display: inline-block;
}

.button {
  color: white;
  background-color: #292c2f;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  padding: 10px 15px;
}

.button:hover {
  color: black;
  background-color: white;
}

.buttons-flex {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

/******************************************* FOOTER STYLING ***********************************/
footer {
  position: relative;
  text-align: center;
}

.footer-distributed {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font: bold 16px;
}

.footer-distributed {
  display: inline-block;
  vertical-align: top;
}

.footer-distributed .footer-links {
  color: #ffffff;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  margin: 10px;
  padding: 5px;
}

.footer-links a:hover {
  background-color: black;
  text-decoration: underline;
}

.footer-distributed .footer-company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  /* margin: 0; */
}

.footer-distributed .footer-icons {
  margin-top: 15px;
  margin-bottom: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}

.footer-icons a:hover {
  background-color: black;
}

@media (max-width: 880px) {
  .footer-distributed {
    font: bold 14px sans-serif;
  }

  .main {
    line-height: normal;
    font-size: auto;
  }
}
